target
.idea/
*.iml
*.im
*.ipr
*.iws
overlays
.DS_Store
.settings
*.swp
*.log
.project
.classpath
*.fmd
.cache
dependency-reduced-pom.xml
kube-cluster/kubernetes
apps/modifiedFabric8.json
git-clones
.vscode/
 
.gradle/
gradle
build/
/local.properties
.DS_Store
/captures
.externalNativeBuild
WorkspaceSettings.xcsettings
*.xcuserstate

